.DS_Store
/WebService-GoogleAPI-Client-*
/CODE_REVIEW.MD
/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.json
META.yml
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/.idea/
/gapi.json
examples/*.json
examples/*.png
**/delme*
*.json
docs/cover/*

.yath.user.rc
.*.sw?
